// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-svg {
  display: flex;
  flex-direction: column;
  background-color: @pane-item-background-color;
  user-select: none;
}
